<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>map_SCUT</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <false/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>0</integer>
                        <key>collision_mask</key>
                        <integer>0</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 478.00000,-1282.00000 }</string>
                                <string>{ 437.00000,-864.00000 }</string>
                                <string>{ 739.00000,-1168.00000 }</string>
                                <string>{ 694.00000,-1319.00000 }</string>
                            </array>
                            <array>
                                <string>{ 1128.00000,-722.00000 }</string>
                                <string>{ 1113.00000,-1061.00000 }</string>
                                <string>{ 991.00000,-1081.00000 }</string>
                                <string>{ 437.00000,-864.00000 }</string>
                                <string>{ 519.00000,-761.00000 }</string>
                                <string>{ 660.00000,-679.00000 }</string>
                                <string>{ 865.00000,-611.00000 }</string>
                                <string>{ 1002.00000,-585.00000 }</string>
                            </array>
                            <array>
                                <string>{ 437.00000,-864.00000 }</string>
                                <string>{ 991.00000,-1081.00000 }</string>
                                <string>{ 739.00000,-1168.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>0</integer>
                        <key>collision_mask</key>
                        <integer>0</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 1773.00000,-1540.00000 }</string>
                                <string>{ 2004.00000,-1696.00000 }</string>
                                <string>{ 1646.00000,-1954.00000 }</string>
                                <string>{ 1416.00000,-1766.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>0</integer>
                        <key>collision_mask</key>
                        <integer>0</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 1887.00000,-1401.00000 }</string>
                                <string>{ 1909.00000,-1024.00000 }</string>
                                <string>{ 2021.00000,-1384.00000 }</string>
                                <string>{ 1957.00000,-1437.00000 }</string>
                            </array>
                            <array>
                                <string>{ 1909.00000,-1024.00000 }</string>
                                <string>{ 2275.00000,256.00000 }</string>
                                <string>{ 2261.00000,-1494.00000 }</string>
                                <string>{ 2021.00000,-1384.00000 }</string>
                            </array>
                            <array>
                                <string>{ 2275.00000,256.00000 }</string>
                                <string>{ 1909.00000,-1024.00000 }</string>
                                <string>{ 1718.00000,-920.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




