<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>map</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.49900 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <false/>
                <key>allows_rotation</key>
                <false/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>2</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 658.00000,440.50000 }</string>
                                <string>{ 652.00000,214.50000 }</string>
                                <string>{ -631.00000,197.50000 }</string>
                                <string>{ -672.00000,433.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -667.00000,-378.50000 }</string>
                                <string>{ -672.00000,390.50000 }</string>
                                <string>{ -303.00000,369.50000 }</string>
                                <string>{ -298.00000,-357.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -627.00000,-206.50000 }</string>
                                <string>{ 671.00000,-216.50000 }</string>
                                <string>{ 683.00000,-422.50000 }</string>
                                <string>{ -648.00000,-414.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 644.00000,349.50000 }</string>
                                <string>{ 646.00000,-381.50000 }</string>
                                <string>{ 345.00000,-363.50000 }</string>
                                <string>{ 310.00000,-279.50000 }</string>
                                <string>{ 322.00000,332.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -359.00000,54.50000 }</string>
                                <string>{ -402.00000,87.50000 }</string>
                                <string>{ -388.00000,108.50000 }</string>
                                <string>{ 26.00000,308.50000 }</string>
                                <string>{ 28.00000,193.50000 }</string>
                                <string>{ -3.00000,89.50000 }</string>
                                <string>{ -190.00000,-35.50000 }</string>
                            </array>
                            <array>
                                <string>{ 26.00000,308.50000 }</string>
                                <string>{ -388.00000,108.50000 }</string>
                                <string>{ -440.00000,135.50000 }</string>
                                <string>{ -456.00000,275.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>0</integer>
                        <key>collision_mask</key>
                        <integer>0</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 611.00000,204.50000 }</string>
                                <string>{ 572.00000,204.50000 }</string>
                                <string>{ 535.00000,222.50000 }</string>
                                <string>{ 549.00000,260.50000 }</string>
                                <string>{ 602.00000,267.50000 }</string>
                            </array>
                            <array>
                                <string>{ 549.00000,260.50000 }</string>
                                <string>{ 535.00000,222.50000 }</string>
                                <string>{ 528.00000,243.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 28.00000,-121.50000 }</string>
                                <string>{ -16.00000,-103.50000 }</string>
                                <string>{ -28.00000,-55.50000 }</string>
                                <string>{ 0.00000,-25.50000 }</string>
                                <string>{ 50.00000,-25.50000 }</string>
                                <string>{ 84.00000,-47.50000 }</string>
                                <string>{ 88.00000,-95.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




