<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyAttack_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{247,83}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{247,83}}</string>
                <key>sourceSize</key>
                <string>{257,115}</string>
            </dict>
            <key>Flash_CD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{154,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{154,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Flash_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,581},{154,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{154,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>IcyBlast_CD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{154,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{154,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>IcyBlast_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,581},{154,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{154,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>IcyBlock_CD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{154,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{154,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>IcyBlock_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,425},{154,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{154,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>PlainAttackRocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{201,109}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{201,109}}</string>
                <key>sourceSize</key>
                <string>{201,121}</string>
            </dict>
            <key>PlainAttack_CD.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,269},{154,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{154,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>PlainAttack_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,113},{154,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{154,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>SkillDirection.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{236,52}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{236,52}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>Skill_IcyBlast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SkillPack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ba56d9dc793ff0716cab397d6487d75$</string>
            <key>textureFileName</key>
            <string>SkillPack.png</string>
        </dict>
    </dict>
</plist>
